:root {
    --marie-cream: rgb(242, 229, 210);
    --marie-black: rgb(13, 14, 16);
    --marie-rose: rgb(248, 196, 183);
    --marie-green: rgba(79, 108, 99, 0.4);
    --off-white: #ebebeb;
    --shadow: #0d0e106f;
}

@font-face {
    font-family: "AlfaSlabOne";
    src: local("AlfaSlabOne"), url("./AlfaSlabOne.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Geologica";
    src: local("Geologica"), url("./Geologica.ttf") format("truetype");
    font-weight: normal;
}

* {
    cursor: url('/cursor.png') 22 2, auto;
    box-sizing: border-box;
    font-family: 'Geologica', serif;
    color: var(--off-white);
}

html {
    background-color: var(--marie-black);
}

.hero-container {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.name-img {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    margin: auto;
    width: 300px;
}

@media (max-width: 768px) {
    .hero-container {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .hero-container {
        margin-top: 90px;
    }
}

.page-content {
    z-index: 2;
    position: relative;
    background-color: var(--marie-black);
}

.home-content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.bg-img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    max-width: none;
    pointer-events: none;
    z-index: -1;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
