:root {
    --marie-cream: rgb(242, 229, 210);
    --marie-black: rgb(13, 14, 16);
    --marie-rose: rgb(248, 196, 183);
    --marie-green: rgba(79, 108, 99, 0.4);
    --off-white: #ebebeb;
    --shadow: #0d0e106f;
}

@font-face {
    font-family: "AlfaSlabOne";
    src: local("AlfaSlabOne"),
        url("./fonts/AlfaSlabOne.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Geologica";
    src: local("Geologica"),
        url("./fonts/Geologica.ttf") format("truetype");
    font-weight: normal;
}

* {
    cursor: url('/cursor.png') 22 2, auto;
    box-sizing: border-box;
    font-family: 'Geologica', serif;
    color: var(--off-white);
}

html {
    overflow-x: hidden;
    overscroll-behavior: none;
}

.teaser-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--marie-black);
}

.teaser-text {
    cursor: url('/cursor-hover.png') 22 0, auto;
    color: var(--marie-black);
    background-color: var(--marie-rose);
    text-align: center;
    margin: auto;
    padding: 10px 15px 10px 15px;
    font-size: 24px;
    font-style: italic;
    border: 1px solid var(--marie-black);
    box-shadow: 2px 3px 7px var(--shadow);
    border-radius: 100px;
    animation: grow 2s ease-in-out forwards infinite;
}

@keyframes grow {
    0% {
        padding: 10px 15px 10px 15px;
    }
    50% {
        padding: 13px 18px 13px 18px;
    }
    100% {
        padding: 10px 15px 10px 15px;
    }
}

#dvd-logo {
    position: absolute;
    background-color: var(--marie-rose);
    padding: 10px 10px 10px 10px;
    width: 300px;
    text-align: center;
    color: var(--marie-black);
    border-radius: 20px;
    user-select: none;
    white-space: nowrap;
    box-shadow: 2px 3px 7px var(--shadow);
    border: 1px solid var(--marie-black);
    font-style: italic;
}

#dvd-logo img {
    width: 250px;
}

.hero-container {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.name-img {
    margin: auto;
    width: 300px;
}

@media (max-width: 768px) {
    .hero-container {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .hero-container {
        margin-top: 90px;
    }
}

.menu {
    margin: 15px auto 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    max-width: 1100px;
}

@media (min-width: 861px) {
    html {
        overflow-y: hidden;
    }
}

@media (max-height: 860px) {
    html {
        overflow-y: scroll;
    }
}

@media (max-width: 860px) {
    html {
        overflow-y: scroll;
    }

    .menu {
      grid-template-columns: 1fr;
      grid-gap: 40px
    }
}

.menu-button {
    cursor: url('/cursor-hover.png') 22 0, auto;
    background-color: var(--marie-green);
    width: 270px;
    height: 144px;
    margin: 0 auto;
    border: 2px solid var(--marie-black);
    border-radius: 3px;
    box-shadow: 2px 2px 30px 2px var(--marie-green);
    position: relative;
    overflow: hidden;
    transition: 0.35s;
}

.menu-button p {
    cursor: url('/cursor-hover.png') 22 0, auto;
    text-align: center;
    position: relative;
    top: 4%;
    color: var(--marie-black);
    font-size: 18px;
    text-decoration: none;
}

.menu-button:hover {
    box-shadow: 2px 2px 60px 0px var(--marie-rose);
}

.menu-button:hover img {
    height: 145px;
    animation: none;
}

.menu-button img {
    position: absolute;
    cursor: url('/cursor-hover.png') 22 0, auto;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    height: 160px;
    transition: 0.35s;
    animation: shake 0.75s ease-in-out forwards 0s;
}

@keyframes shake {
    0% { 
      transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
      transform: translate(-50%, -50%) rotate(-3deg);
    }
    50% {
     transform: translate(-50%, -50%) rotate(2deg);
    }
    75% {
      transform: translate(-50%, -50%) rotate(-1deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.border-overlay {
    position: fixed;
    pointer-events: none;
    z-index: 10;
    margin: auto;
    max-width: 1250px;
    border: 100px solid var(--marie-black);
    border-radius: 200px;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
}

@media (max-width: 768px), (max-height: 500px) {
    .border-overlay {
        border: 50px solid var(--marie-black);
        border-radius: 100px;
        max-width: 1150px;
        top: -25px;
        left: -25px;
        right: -25px;
        bottom: -25px;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.page-content {
    z-index: 2;
    background-color: var(--marie-black);
    position: relative;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    max-width: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.landing-img {
    position: absolute;
    top: 32%;
    left: 50%;
    width: 1050px;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transition: opacity 1s ease-in-out,  transform 1s ease-in-out;
}

.loaded {
    opacity: 1;
}

.border-bar {
    z-index: 10;
    background-color: var(--marie-black);
    position: fixed;
    pointer-events: none;
    height: 20px;
    width: 100%;
}

.top-bar {
    top: 0;
}

.bottom-bar {
    bottom: 0;
}

@media (max-width: 1100px) {
    .border-panel {
        display: none;
    }
}

.border-panel { 
    z-index: 10;
    background-color: red;
    position: fixed;
    pointer-events: none;
    width: 1000px;
    height: 100%;
}

.left-panel {
    right: 1750px;
    transform: translate(50%, 0%);
}

.right-panel {
    right: 50%;
}

.empty {
    width: 1100px;
    height: 1000px
}

.entered-content {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
