.teaser-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--marie-black);
}

@keyframes grow {
    0% {
        padding: 10px 15px 10px 15px;
    }
    50% {
        padding: 13px 18px 13px 18px;
    }
    100% {
        padding: 10px 15px 10px 15px;
    }
}

.teaser-text {
    cursor: url('/cursor-hover.png') 22 0, auto;
    color: var(--marie-black);
    background-color: var(--marie-rose);
    text-align: center;
    margin: auto;
    padding: 10px 15px 10px 15px;
    font-size: 24px;
    font-style: italic;
    border: 1px solid var(--marie-black);
    box-shadow: 2px 3px 7px var(--shadow);
    border-radius: 100px;
    animation: grow 2s ease-in-out forwards infinite;
}
