:root {
    --marie-cream: rgb(242, 229, 210);
    --marie-black: rgb(13, 14, 16);
    --marie-rose: rgb(248, 196, 183);
    --marie-green: rgb(79, 108, 99);
    --shadow: #0d0e106f;
}

* {
    cursor: url('/cursor.png') 22 2, auto;
    box-sizing: border-box;
    font-family: 'Merriweather';
}

html {
    background-color: var(--marie-cream);
}

#root {
    background-color: var(--marie-cream);
}

.teaser-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.teaser-text {
    cursor: url('/cursor-hover.png') 22 0, auto;
    color: var(--marie-black);
    background-color: var(--marie-rose);
    text-align: center;
    margin: auto;
    padding: 10px 15px 10px 15px;
    font-size: 24px;
    font-style: italic;
    border: 1px solid var(--marie-black);
    box-shadow: 2px 3px 7px var(--shadow);
    border-radius: 100px;
    animation: grow 2s ease-in-out forwards infinite;
}

@keyframes grow {
    0% {
        padding: 10px 15px 10px 15px;
    }
    50% {
        padding: 13px 18px 13px 18px;
    }
    100% {
        padding: 10px 15px 10px 15px;
    }
}

#dvd-logo {
    position: absolute;
    font-size: 20px;
    background-color: var(--marie-rose);
    padding: 10px 10px 10px 10px;
    width: 150px;
    text-align: center;
    color: var(--marie-black);
    border-radius: 20px;
    user-select: none;
    white-space: nowrap;
    box-shadow: 2px 3px 7px var(--shadow);
    border: 1px solid var(--marie-black);
    font-style: italic;
}

#dvd-logo img {
    width: 90px;
}

.hero-container {
    color: var(--marie-black);
    display: flex;
    flex-direction: column;
}

.album-title {
    font-weight: bold;
    font-size: 22px;
}

.release-date {
    font-style: italic;
    font-size: 20px;
    white-space: pre-wrap;
}

.name-img {
    margin: auto;
    width: 200px;
    padding-bottom: 25px;
}

@media (max-width: 768px) {
    .hero-container {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .hero-container {
        margin-top: 90px;
    }
}

.menu {
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu-button {
    cursor: url('/cursor-hover.png') 22 0, auto;
    display: block;
    background-color: clear;
    width: 270px;
    height: 188px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.menu-button-bg {
    cursor: url('/cursor-hover.png') 22 0, auto;
    background-color: var(--marie-green);
    width: 100%;
    height: 80%;
    border: 5px solid var(--marie-black);
    border-radius: 3px;
    box-shadow: 2px 3px 7px var(--shadow);
}

.menu-button p {
    cursor: url('/cursor-hover.png') 22 0, auto;
    text-align: center;
    position: relative;
    top: 4%;
    color: var(--marie-black);
    font-size: 18px;
    text-decoration: none;
}

.menu-button:hover p {
    text-decoration: underline;
}

.menu-button img {
    cursor: url('/cursor-hover.png') 22 0, auto;
    top: 0;
    width: 100%;
    height: 100%;
}

.border-overlay {
    position: fixed;
    pointer-events: none;
    z-index: 10;
}

@media (max-width: 768px) {
    .border-overlay {
        border: 50px solid var(--marie-black);
        border-radius: 100px;
        top: -25px;
        left: -25px;
        right: -25px;
        bottom: -25px;
    }
    .border-corner {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 768px) {
    .border-overlay {
        border: 100px solid var(--marie-black);
        border-radius: 200px;
        top: -50px;
        left: -50px;
        right: -50px;
        bottom: -50px;
    }
    .border-corner {
        width: 80px;
        height: 80px;
    }
}

.border-corner {
    background-color: var(--marie-black);
    position: fixed;
    pointer-events: none;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.border-bar {
    background-color: var(--marie-black);
    position: fixed;
    pointer-events: none;
    height: 10px;
    width: 100%;
}

.top-bar {
    top: 0;
}

.bottom-bar {
    bottom: 0;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
