.social-card {
    text-align: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    transition: 0.4s;
    border-radius: 10px;
}

.social-card:hover {
    cursor: url('/cursor-hover.png') 8 16, auto;
    border-radius: 40px;
    background-color: rgba(0,0,0,0);
}

.social-card img {
    position: relative;
    margin-top: -6px;
    width: 26px;
    height: 26px;
    margin-right: 8px;
    cursor: url('/cursor-hover.png') 8 16, auto;
    transition: 0.25s;
}

.social-card:hover img {
    width: 00px;
    height: 00px;
}

.social-card p {
    display: inline;
    font-size: 24px;
    margin-left: 2px;
    transition: 0.4s;
    cursor: url('/cursor-hover.png') 8 16, auto;
}

.social-card:hover p {
    text-decoration: underline;
    color: var(--marie-rose);
    font-size: 26px;
}